@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Anasayfa";
    <!-- Anasayfa başlığı eklendi -->
}

<!-- Carousel (Slayt) Bölgesi -->
<div id="carouselExampleControls" class="carousel slide my-0" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- 1. Resim -->
        <div class="carousel-item active">
            <img src="/resim/anasayfa1.jpg" class="d-block w-100" style="border-radius: 0;" alt="Yeni Sezon Ürün 1">
        </div>
        <!-- 2. Resim -->
        <div class="carousel-item">
            <img src="/resim/anasayfa2.jpg" class="d-block w-100" style="border-radius: 0;" alt="Yeni Sezon Ürün 2">
        </div>
    </div>
    <!-- Sol Ok -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Önceki</span>
    </button>
    <!-- Sağ Ok -->
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Sonraki</span>
    </button>
</div>

<!-- Ana Sayfa İçeriği -->
<div class="container mt-5">
    <h1 class="text-center">Hoşgeldiniz EZ Alışveriş Sitesine!</h1>
    <p class="text-center">En yeni ürünler, en uygun fiyatlarla burada!</p>
</div>

<br />