/* Navbar Stili */
.navbar-brand {
    font-size: 1.8rem;
    color: #0056b3 !important;
}

/* Nav Link Hover */
.nav-link {
    color: #333 !important;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #0056b3 !important;
    }

/* Banner Stili */
.p-5 {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Kampanya Bölgesi */
.bg-danger {
    background-color: #dc3545 !important;
}

/* Footer */
footer a {
    color: #555;
    transition: color 0.3s ease;
}

    footer a:hover {
        color: #0056b3;
    }
